## Tuple

In [1]:
t = ()

In [4]:
type(t)

tuple

In [12]:
t = (12,45,67.8,"Str",67)

In [13]:
t

(12, 45, 67.8, 'Str', 67)

In [7]:
l = [12,45,67.8,"Str",67]

In [8]:
l

[12, 45, 67.8, 'Str', 67]

In [14]:
t[0:4]

(12, 45, 67.8, 'Str')

In [15]:
t[::-1]

(67, 'Str', 67.8, 45, 12)

In [16]:
t[-1]

67

In [18]:
t[0] = 'def'

TypeError: 'tuple' object does not support item assignment

In [19]:
t2 = (3,56,67.77,'Str',True)

In [20]:
t2

(3, 56, 67.77, 'Str', True)

In [23]:
t + t2

(12, 45, 67.8, 'Str', 67, 3, 56, 67.77, 'Str', True)

In [28]:
t3 = ('6',67)

In [29]:
t + t3

(12, 45, 67.8, 'Str', 67, '6', 67)

In [30]:
t3 *4

('6', 67, '6', 67, '6', 67, '6', 67)

In [31]:
 t = (12, 45, 67.8, 'Str', 67, 3, 56, 67.77, 'Str', True)

In [32]:
'ynyn' in t

False

In [33]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'float'

In [36]:
t.count(67)

1

In [39]:
t.index(67)

4

In [40]:
t.index(7)

ValueError: tuple.index(x): x not in tuple

In [41]:
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [42]:
l = list(t)

In [43]:
l.insert(3,45)

In [44]:
l

[12, 45, 67.8, 45, 'Str', 67, 3, 56, 67.77, 'Str', True]

In [48]:
c = tuple(l)

In [49]:
type(c)

tuple

In [50]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [56]:
for i in t:
    if type(i) == tuple:
        print(i[0])

3
sdfsd
454

In [57]:
t2 =(3,4,5,6,7)

In [59]:
if len(t) == len(t2):
    print('They are same')
else :
    print('They are not')

They are not

## Set

In [60]:
x  = set()

In [61]:
type(x)

set

In [62]:
l = [34,56,56,56,56,56,56,56,88,99,90]

In [63]:
l

[34, 56, 56, 56, 56, 56, 56, 56, 88, 99, 90]

In [65]:
s = set(l)

In [66]:
s

{34, 56, 88, 90, 99}

In [67]:
for i in s:
    print(i)

34
99
56
90
88

In [68]:
88 in s

True

In [69]:
56 in s

True

In [70]:
s(0)

TypeError: 'set' object is not callable

In [71]:
s[1]

TypeError: 'set' object is not subscriptable

In [74]:
s = set(l)

In [75]:
s

{34, 56, 88, 90, 99}

In [76]:
s.add(23)

In [77]:
s

{23, 34, 56, 88, 90, 99}

In [78]:
s.add([34,55])

TypeError: unhashable type: 'list'

In [79]:
s.add(34)

In [80]:
s

{23, 34, 56, 88, 90, 99}

In [81]:
s.remove(56)

In [82]:
s

{23, 34, 88, 90, 99}

In [83]:
s.remove(56)

KeyError: 56

In [84]:
56 in s

False

In [89]:
s.clear()

In [90]:
s

set()

In [91]:
s.add(34,56,78)

TypeError: add() takes exactly one argument (3 given)

In [92]:
s.add(67)

In [93]:
s.add(45)

In [94]:
s.add(56)

In [95]:
s.add('rtbtt')

In [96]:
s

{45, 56, 67, 'rtbtt'}

In [97]:
s1 = set()

In [ ]:
l = [66,466,557,79,9870,7766,799]

In [98]:
s1 = set(l)

In [99]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [100]:
s*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [101]:
l = list(s)

In [102]:
l.append(456)

In [103]:
l

[56, 'rtbtt', 67, 45, 456]

In [104]:
s = set(l)

In [105]:
s

{45, 456, 56, 67, 'rtbtt'}

In [107]:
d = tuple(s)

In [108]:
type(d)

tuple

In [109]:
set(d)

{45, 456, 56, 67, 'rtbtt'}

## Dictionary

In [110]:
a = {}

In [111]:
type(a)

dict

In [112]:
b = {4.5,6,67,7,646,88,55}

In [114]:
type(b)

set

In [129]:
# c = { 'Key' : 'Value' , 'Key' : 'Value' , 'Key' : 'Value' }
c = {'name' : 'Abhinav' , 'name' : 'Shanu' , 'ID' : '181001002092', '3rd Year' : False ,'name2' : 'Shanu' , '4th Year' : 'True'}

In [117]:
type(c)

dict

In [133]:
c

{'name': 'Shanu',
 'ID': '181001002092',
 '3rd Year': False,
 'name2': 'Shanu',
 '4th Year': 'True'}

In [134]:
c['name']

'Shanu'

In [135]:
c['ID']

'181001002092'

In [155]:
x = {"name" :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [139]:
x["_sfsdf"][4]

545

In [142]:
x['name']

{'k1': 'wer', 'k4': [345, 534535, 534]}

In [143]:
x['name']['k4']

[345, 534535, 534]

In [145]:
x['name']['k4'][2] = 'Something'

In [146]:
x['name']['k4'][2]

'Something'

In [147]:
x['name']

{'k1': 'wer', 'k4': [345, 534535, 'Something']}

In [156]:
x['age']

3455

In [157]:
x['age'] -= 10

In [158]:
x['age']

3445

In [161]:
'name' in x.keys()

True

In [162]:
x.keys()

dict_keys(['name', 'age', True, 'key', 34554, '_sfsdf'])

In [167]:
for i in x.keys():
    print (type(x[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [168]:
x.items()

dict_items([('name', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3445), (True, {54, 34545, 45, 454}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [170]:
for i in x.items():
    print(i[0])

name
age
True
key
34554
_sfsdf

In [182]:
x = str(input("Input any paragraph of your choice >>>>> "))

s = x.split()

Input any paragraph of your choice >>>>> Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph

In [179]:
set = set(s)

In [180]:
set

{'(Lunsford',
 '116).',
 'A',
 'Connors',
 'For',
 'In',
 'Length',
 'Many',
 'Paragraphs',
 'Ultimately,',
 'a',
 'among',
 'and',
 'appearance',
 'are',
 'as',
 'at',
 'be',
 'because',
 'blocks',
 'building',
 'can',
 'coherence',
 'constitutes',
 'controls',
 'define',
 'defined',
 'determine',
 'do',
 'etc.',
 'five',
 'forms',
 'group',
 'half',
 'handout,',
 'happens',
 'idea,”',
 'idea.',
 'ideas',
 'in',
 'instance,',
 'is',
 'it',
 'journalistic',
 'just',
 'least',
 'length:',
 'long,',
 'long.',
 'main',
 'not',
 'of',
 'one',
 'or',
 'page',
 'paper',
 'papers.',
 'paragraph',
 'paragraph.',
 'paragraphs',
 'particularly',
 'reality,',
 'refer',
 'rest',
 'section',
 'sentence',
 'sentences',
 'sentences,',
 'single',
 'some',
 'students',
 'styles',
 'styles,',
 'support',
 'terms',
 'that',
 'the',
 'this',
 'though,',
 'to',
 'unity',
 'unit”',
 'we',
 'what',
 'whether',
 'will',
 'writing,',
 '“a',
 '“controlling'}

In [ ]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())